/* .nav */
.nav {
  height: 80px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-brand {
  display: inline-block;
  width: 120px;
  height: 70px;
  margin-left: 12px;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  font-size: 32px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-more {
  width: 80px;
  cursor: pointer;
}

.nav-option {
  display: flex;
}

.nav-nav {
  display: flex;
}

.nav-link {
  font-size: 28px;
  min-width: 120px;
  margin-left: 24px;
  height: 100%;
  text-decoration: none;
  color: #000;
  text-align: center;
}

.nav-link.active {
  background-color: #ffa500;
  color: #000;
}

.nav-brand.active {
  background-color: #ffa500;
}

.nav-text {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-right: 24px;
  height: 80%;
}

.nav-text .btn {
  font-size: 18px;
}

.nav-item {
  cursor: pointer;
}
